# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. C
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Keras
4. Tensorflow

| Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetic expression to multiply then add integers
result = (3*4) + 5
result

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- Popular Data Science languages
- Data Science tools
- Arithmetic expressions

## Author
Ema S. S.

In [10]:
import os
print(os.getcwd())

C:\Users\emast